.not-found{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: white;
 height: 100vh;
 background-size: cover;
}
.notfound-design{
    text-decoration:none ;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.anchor-remover{
    text-decoration:none ;
    color: white;

}
.thanos-snap-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.thanos-gif{
    align-self: center;
}